/* Empty. Add your own CSS if you like */
.buscar{
	background-image: url(../img/fon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.img-responsive{
	max-width: 100%;
	height: auto;
	display:block;
}

.whait{
	color:white;
}

.pokeform{
	background-color: rgba(0, 40, 32, 0.6);
	padding: 45px;
  	margin: 8px 0;
  	border-radius: 8px;
}